.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery-1-mobile.png) no-repeat center;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery-2-mobile.png) no-repeat center;
  background-size: cover;
}

.payments .content-container .image-gallery .image.third {
  background: url(../img/gallery-3-mobile.png) no-repeat center;
  background-size: cover;
}
.payments .image.colspan-2 {
  grid-column: span 2;
}

/* pacotes de viagens */
.travel-packages .content-container .image-gallery .image.first {
  background: url(../img/gallery-offers-travel-1-mobile.png) no-repeat center;
  background-size: cover;
}

.travel-packages .content-container .image-gallery .image.second {
  background: url(../img/gallery-offers-travel-2-mobile.png) no-repeat center;
  background-size: cover;
}

.travel-packages .content-container .image-gallery .image.third {
  background: url(../img/gallery-offers-travel-3-mobile.png) no-repeat center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery-1-tablet.png) no-repeat center;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery-2-tablet.png) no-repeat center;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.third {
    background: url(../img/gallery-3-tablet.png) no-repeat center;
    background-size: cover;
  }

  /* pacotes de viagens */
  .travel-packages .content-container .image-gallery .image.first {
    background: url(../img/gallery-offers-travel-1-tablet.png) no-repeat center;
    background-size: cover;
  }

  .travel-packages .content-container .image-gallery .image.second {
    background: url(../img/gallery-offers-travel-2-tablet.png) no-repeat center;
    background-size: cover;
  }

  .travel-packages .content-container .image-gallery .image.third {
    background: url(../img/gallery-offers-travel-3-tablet.png) no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }

  /* pacotes de viagens */
  .travel-packages .content-container .text-content {
    margin: 96px 0 96px;
  }
}
